
#carousel-container {
    width: 600px;
    height: 300px;
    border: 10px dotted red;
    margin: auto;
    position: relative;
    overflow:hidden;
}

.box {
    width: 598px;
    height: 298px;
    background: pink;
    border: 1px solid blue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 600px;
    top: 0;
}

.box:first-child {
    left: 0px;
}

.box:nth-child(even) {
    background: green;
}